$cor-primaria:#06121e;
$cor-primaria-dark:#040f1a;
$cor-primaria-ligth:#0c2135;

$cor-secundaria:#090d11;
$cor-secundaria-dark:#06090c;
$cor-secundaria-light:#1a1f25;

$preto-normal:#232224;
$preto-dark:#161617;
$preto-ligth : #353436;


$branco-normal: #fff;
$branco-dark: #edeaef;
$branco-ligth: #fefbff;

$cinza-normal:#c4c4c4;

$red-normal:#d94140;
$red-dark:#b42b2b;
$red-light:#d34040;

